body {
  font-family: "Raleway", sans-serif;
  padding: 0.5rem 1rem 0rem 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

.menu_droite {
  display: flex;
  flex-direction: row;
  float: right;
}

.menu_droite ul li a {
  text-decoration: none;
  color: black;
}

.menu_droite li {
  display: inline-block;
  margin-left: 50px;
  list-style: none;
  color: rgb(0, 0, 0);
}

.menu_droite li a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 30px;
}

.inscription {
  color: #0065fc;
  font-weight: bold;
}

.menu_gauche {
  display: inline-block;
  float: left;
  list-style: none;
}

header .inscription {
  color: #0065fc;
}

header {
  height: 50px;
}

main h1 {
  font-size: 20px;
}

main p {
  margin-top: 10px;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.wrap {
  width: 50%;
  display: flex;
}

.search {
  width: 350px;
  display: flex;
}

.map {
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  width: 30px;
  padding: 9px;
  height: fit-content;
  text-align: center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #f2f2f2;
  border-right: none;
  border-left: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #121312;
  font-size: 15px;
  font-weight: bold;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  width: 120px;
  height: 36px;
  border: 1px solid #0065fc;
  background:#0065fc;
  text-align: center;
  color: #f2f2f2;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
}
.loupe {
  display: none;
}

.searchButton1  {
  border: 2px solid #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}  

.searchButton1 p {
  font-weight: bold;
  margin-left: 50px;
}

.Filtres {
  display: flex;
  flex-direction: row;
  float: left;
  flex-wrap: nowrap;
  padding: 20px 0px;
}
  

p {
  font-weight: bold;
  display: block;
  margin-block-start: 10em;
  margin-block-end: 1em;
  margin-inline-start: 1px;
  margin-inline-end: 30px;
}

.Filtres_icon 
{
  position: absolute;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 30px;
  padding: 15px;
  margin-left: -10px;
  width: 20px;
}
.info {
  margin-left: -40px;
  margin-bottom: 25px;
}

.info ul li {
 font-family: Raleway;
 font-size: 14;
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.info ul li i {
  padding: 10px;
  width: 15px;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  margin-top: 70px;
}

.info ul li p {
  margin-left: 10px;
}

.info i {
  border: 2px 2px 2px solid #000000;
  color: #0065fc;
}

.info i {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

footer {
 
      background-color: #F2F2F2;
    
    height: 150px
}

.menu_footer {
 display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu_footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_footer ul li a {
color: #121312ad;
text-decoration: none;
font-size: 12px;
padding: 10px 0;
}

img {
  height:100px;
  border-radius: 10px 10px 10px 10px;

}

.images_hebergements ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

section {
  background-color: #F2F2F2;
  padding: 10px 5px;
  border-radius: 10px 10px 10px 10px;
  margin-right: 500px;
}

.plus_populaires {
  margin-left: 800px;
    margin-top: -500px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
 

.plus_populaires ul {
  list-style-type: none;
}

#section aside {
  display: flex;
  align-content: margin-right;
}

.images_activites ul {
  list-style-type: none;
}


.cannebiere {
  display: inline-block;
  background-color: white;
  border: 5px solid white;
  border-radius: 20px 20px 20px 20px;
}

.cannebiere img {
  text-align: center;
  border: 5px solid white;
  border-radius: 20px 20px 0px 0px;
  margin-left: 30px;
}

.cannebiere span {
  font-size: 12px;
}

.cannebiere strong {
  font-style: bold;
}

.port {
   display: inline-block;
  background-color: white;
  border: 5px solid white;
  border-radius: 20px 20px 20px 20px;
}

.port img {
   text-align: center;
  border: 5px solid white;
  border-radius: 20px 20px 0px 0px;
  margin-left: 30px;
}

.port span {
  font-size: 14px;
  font-family:"Raleway Regular 400 italic";
  font-style: "Raleway Regular 400 italic";
}

.port strong {
  font-style: bold;
  font-family: "Raleway ExtraLight";
}


.mouettes {
   display: inline-block;
  background-color: white;
  border: 5px solid white;
  border-radius: 20px 20px 20px 20px;
}

.mouettes img {
  text-align: center;
  border: 5px solid white;
  border-radius: 20px 20px 0px 0px;
  margin-left: 30px;
}

.mouettes span {
  font-size: 12px;
  font-family: "Raleway ExtraLight";
}

.mouettes strong {
  font-style: bold;
  font-size: 13px;
  style: thin100;
}

.delamer { 
  display: inline-block;
  background-color: white;
  border: 5px solid white;
  border-radius: 20px 20px 20px 20px;
}
.delamer img {
   text-align: center;
  border: 5px solid white;
  border-radius: 20px 20px 0px 0px;
  margin-left: 30px;
}
.delamer span {
  font-size: 12px
}
.delamer strong {
  font-style: bold;
}

.panier {
  display: inline-block;
  background-color: white;
  border: 5px solid white;
  border-radius: 20px 20px 20px 20px;
}

.panier img {
   text-align: center;
  border: 5px solid white;
  border-radius: 20px 20px 0px 0px;
  margin-left: 30px;
}
.panier span {
  font-size: 12px
}
.panier strong {
  font-style: bold;
}

.amina {
display: inline-block;
  background-color: white;
  border: 5px solid white;
  border-radius: 20px 20px 20px 20px;  
}
.amina img {
   text-align: center;
  border: 5px solid white;
  border-radius: 20px 20px 0px 0px;
  margin-left: 30px;
}

.amina span {
  font-size: 12px;
}
.amina strong {
  font-style: bold;
}

i.fas.fa-star {
  color: #0065fc;
}



i.far.fa-star {
  color: gray;
  border-color: #F2F2F2;
}

h3 {
      margin-top: 50px;
    padding: 5px;
    margin-left: -10px;
}

.activites_marseille {
  margin-top: 150px;
}